.con {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 1900px) {
  body {
    overflow-x: hidden;
  }
}


/* -------------------loading  */

.loading {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.loading::after {
  content:"로딩중..";
}


/* -------------------scrollbar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(207, 206, 206, 0.1);
  background-color: #e8e6e1;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #e8e6e1;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc501;
  border-radius: 10px;
}

/* -------------------main */

.main {
  position: relative;
}

.main__bg {
  background: url(https://cdn.jsdelivr.net/gh/seoungmohwa/N-nanda-img/N-img/bg-01.png);
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.main__logo {
  position: absolute;
  top: 600px;
  left: 228px;
}

/* ------------------- Persona */

.Persona {
  position: relative;
}

.Persona__bg {
  background: url(https://cdn.jsdelivr.net/gh/seoungmohwa/N-nanda-img/N-img/bg-02.png);
  width: 1920px;
  height: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.Persona__card {
  position: absolute;
  top: 205px;
  left: 316px;
}

/* -------------------wire-frame */

.wire-frame-menu {
  overflow: hidden;
  position: relative;
}

.img-list {
  position: absolute;
  top: 196px;
}

.con-1::before {
  position: absolute;
  content: "";
  background-color: #c4c4c4;
  height: 350px;
  width: 100%;
  position: absolute;
  top: 150px;
  z-index: -100;
  overflow: hidden;
}

.wire-frame-bg {
  background: url(https://cdn.jsdelivr.net/gh/seoungmohwa/N-nanda-img/N-img/bg-04.png);
  width: 1920px;
  height: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.wire-frame-menu > .infinite_animation {
  animation-name: infinite;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* -------------------barnd & Character */

.barnd__Character {
  position: relative;
}

.barnd__Character__bg {
  background: url(https://cdn.jsdelivr.net/gh/seoungmohwa/N-nanda-img/N-img/bg-03.png);
  width: 1920px;
  height: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.Character__card {
  position: absolute;
  top: 96px;
  left: 236px;
}

/* -------------------barnd & Character */

.menu {
  position: relative;
}

.menu__bg {
  background: url(https://cdn.jsdelivr.net/gh/seoungmohwa/N-nanda-img/N-img/bg-05-02.png);
  width: 1920px;
  height: 8536px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.phone__frme_img {
  position: absolute;
  top: 326px;
  left: 220px;
  z-index: 10;
}

.info__video {
  position: absolute;
  top: 366px;
  left: 256px;
}

.data__card {
  position: absolute;
  top: 3307px;
  right: 202px;
}

.meal__card {
  position: absolute;
  top: 4073px;
  left: 166px;
}

.h_card {
  position: absolute;
  top: 5644px;
  left: 430px;
}

.chart__card {
  position: absolute;
  top: 7019px;
  left: 136px;
}
